<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
		<add name="DbTaller"
			 connectionString="Server=localhost;Database=dbTaller;Trusted_Connection=True;Encrypt=False;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>